# fly.toml app configuration file generated for minflow-api on 2025-12-01T16:06:07+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'minflow-api'
primary_region = 'iad'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/categories'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
